<style>
#alias_table .actions > * { padding-right: 3px; }
#alias_table .alias-auto .actions > * { display: none }
</style>

<h2>Aliases</h2>

<h3>Add a mail alias</h3>

<p>Aliases are email forwarders. An alias can forward email to a <a href="#users">mail user</a> or to any email address.</p>

<p>To use an alias or any address besides your own login username in outbound mail, the sending user must be included as a permitted sender for the alias.</p>

<form id="addalias-form" class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <div id="alias_type_buttons" class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default" data-mode="regular">Regular</button>
        <button type="button" class="btn btn-default" data-mode="catchall">Catch-All</button>
        <button type="button" class="btn btn-default" data-mode="domainalias">Domain Alias</button>
      </div>
      <div id="alias_mode_info" class="text-info small" style="display: none; margin: .5em 0 0 0;">
        <span class="catchall hidden">A catch-all alias captures all otherwise unmatched email to a domain.</span>
        <span class="domainalias hidden">A domain alias forwards all otherwise unmatched email from one domain to another domain, preserving the part before the @-sign.</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="addaliasAddress" class="col-sm-1 control-label">Alias</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="addaliasAddress">
      <div style="margin-top: 3px; padding-left: 3px; font-size: 90%" class="text-muted">
        <span class="catchall domainalias">Enter just the part of an email address starting with the @-sign.</span>
        You may use international (non-ASCII) characters for the domain part of the email address only.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="addaliasForwardsTo" class="col-sm-1 control-label">Forwards To</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" id="addaliasForwardsTo"></textarea>
      <div style="margin-top: 3px; padding-left: 3px; font-size: 90%">
        <span class="domainalias text-muted">Enter just the part of an email address starting with the @-sign.</span>
        <span class="text-danger">Only forward mail to addresses handled by this Mail-in-a-Box, since mail forwarded by aliases to other domains may be rejected or filtered by the receiver. To forward mail to other domains, create a mail user and then log into webmail for the user and create a filter rule to forward mail.</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <fieldset>
      <legend>
      <label for="addaliasSenders" class="col-sm-1 control-label">Permitted Senders</label>
      </legend>

      <div class="col-sm-10">
        <div class="radio">
          <label for="addaliasForwardsToNotAdvanced">
            <input id="addaliasForwardsToNotAdvanced"
                  name="addaliasForwardsToDivToggle"
                  type="radio"
                  checked>
            Any mail user listed in the Forwards To box can send mail claiming to be from
            <span class="regularalias">the alias address</span>
            <span class="catchall domainalias">any address on the alias domain</span>.
          </label>
        </div>

        <div class="radio">
          <label for="addaliasForwardsToAdvanced">
            <input id="addaliasForwardsToAdvanced"
                  name="addaliasForwardsToDivToggle"
                  type="radio">
            I&rsquo;ll enter the mail users that can send mail claiming to be from
            <span class="regularalias">the alias address</span>
            <span class="catchall domainalias">any address on the alias domain</span>.
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div id="addaliasForwardsToDiv" style="margin-top: .5em; margin-left: 1.4em; display: none;">
    <textarea class="form-control" rows="3" id="addaliasSenders" placeholder="one user per line or separated by commas"></textarea>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button id="add-alias-button" type="submit" class="btn btn-primary">Add Alias</button>
      <button id="alias-cancel" class="btn btn-default hidden">Cancel</button>
    </div>
  </div>
</form>

<h3>Existing mail aliases</h3>
<table id="alias_table" class="table" style="width: auto">
  <thead>
    <tr>
      <th scope="col" aria-label="Actions"></th>
      <th scope="col"> Alias<br></th>
      <th scope="col"> Forwards To</th>
      <th scope="col"> Permitted Senders</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p style="margin-top: 1.5em"><small>hostmaster@, postmaster@, admin@ and abuse@ email addresses are required on some domains.</small></p>

<div style="display: none">
  <table>
  <tr id="alias-template">
    <td class='actions'>
        <a href="#" class='edit' title="Edit Alias">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="#" class='remove' title="Remove Alias">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
    </td>
    <td class='address'> </td>
    <td class='forwardsTo'> </td>
    <td class='senders'> </td>
  </tr>
  </table>
</div>

<h3>Mail aliases API (advanced)</h3>

<p>Use your box&rsquo;s mail aliases API to add and remove mail aliases from the command-line or custom services you build.</p>

<p>Usage:</p>

<pre>curl -X <b>VERB</b> [-d "<b>parameters</b>"] --user {email}:{password} https://{{hostname}}/admin/mail/aliases[<b>action</b>]</pre>

<p>Brackets denote an optional argument. Please note that the POST body <code>parameters</code> must be URL-encoded.</p>

<p>The email and password given to the <code>--user</code> option must be an administrative user on this system.</p>

<h4 style="margin-bottom: 0">Verbs</h4>

<table class="table" style="margin-top: .5em">
<thead><tr>
<th scope="col"> Verb</th> <th scope="col"> Action</th><th scope="col"> </th>
</tr></thead>
<tr><td>GET</td><td><i>(none)</i></td> <td>Returns a list of existing mail aliases. Adding <code>?format=json</code> to the URL will give JSON-encoded results.</td></tr>
<tr><td>POST</td><td>/add</td> <td>Adds a new mail alias. Required POST-body parameters are <code>address</code> and <code>forwards_to</code>.</td></tr>
<tr><td>POST</td><td>/remove</td> <td>Removes a mail alias. Required POST-body parameter is <code>address</code>.</td></tr>
</table>

<h4>Examples:</h4>

<p>Try these examples. For simplicity the examples omit the <code>--user me@mydomain.com:yourpassword</code> command line argument which you must fill in with your email address and password.</p>

<pre># Gives a JSON-encoded list of all mail aliases
curl -X GET https://{{hostname}}/admin/mail/aliases?format=json

# Adds a new alias
curl -X POST -d "address=new_alias@mydomail.com" -d "forwards_to=my_email@mydomain.com" https://{{hostname}}/admin/mail/aliases/add

# Removes an alias
curl -X POST -d "address=new_alias@mydomail.com" https://{{hostname}}/admin/mail/aliases/remove
</pre>
