<h2>System Status Checks</h2>

<style>
#system-checks .heading td {
  font-weight: bold;
  font-size: 120%;
  padding-top: 1.5em;
}
#system-checks .heading.first td {
  border-top: none;
  padding-top: 0;
}
#system-checks .status-error td, .summary-error {
  color: #733;
}
#system-checks .status-warning td, .summary-warning {
  color: #770;
}
#system-checks .status-ok td, .summary-ok {
  color: #040;
}
#system-checks div.extra {
  display: none;
  margin-top: 1em;
  max-width: 50em;
  word-wrap: break-word;
}
#system-checks a.showhide {
  display: none;
  font-size: 85%;
}
#system-checks .pre {
  margin: 1em;
  font-family: monospace;
  white-space: pre-wrap;
}
</style>

<div class="row">
	<div class="col-md-push-9 col-md-3">

<div id="system-reboot-required" style="display: none; margin-bottom: 1em;">
	<button type="button" class="btn btn-danger" data-system-action="reboot">Reboot Box</button>
	<div>No reboot is necessary.</div>
</div>

<div id="system-privacy-setting" style="display: none">
	<div><a data-system-action="privacy" href="#"><span>Enable/Disable</span> New-Version Check</a></div>
	<p style="line-height: 125%"><small>(When enabled, status checks phone-home to check for a new release of Mail-in-a-Box.)</small></p>
</div>

	</div> <!-- /col -->
	<div class="col-md-pull-3 col-md-8">

          <div id="system-checks-summary">
          </div>

<table id="system-checks" class="table" style="max-width: 60em">
  <thead>
  </thead>
  <tbody>
  </tbody>
</table>

	</div> <!-- /col -->
</div> <!-- /row -->
