<style>
#backup-status th { text-align: center; }
#backup-status tr.full-backup td { font-weight: bold; }
</style>

<h2>Backup Status</h2>

<p>The box makes an incremental backup each night. You can store the backup on any Amazon Web Services S3-compatible service, or other options.</p>

<h3>Configuration</h3>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="backup-target-type" class="col-sm-2 control-label">Backup to:</label>
    <div class="col-sm-2">
      <select class="form-control" rows="1" id="backup-target-type">
        <option value="off">Nowhere (Disable Backups)</option>
        <option value="local">{{hostname}}</option>
        <option value="rsync">rsync</option>
        <option value="s3">S3 (Amazon or compatible) </option>
        <option value="b2">Backblaze B2</option>
      </select>
    </div>
  </div>
  <!-- LOCAL BACKUP -->
  <div class="form-group backup-target-local">
    <div class="col-sm-10 col-sm-offset-2">
      <p>Backups are stored on this machine&rsquo;s own hard disk. You are responsible for periodically using SFTP (FTP over SSH) to copy the backup files from <tt class="backup-location"></tt> to a safe location. These files are encrypted, so they are safe to store anywhere.</p>
      <p>Separately copy the encryption password from <tt class="backup-encpassword-file"></tt> to a safe and secure location. You will need this file to decrypt backup files.</p>
    </div>
  </div>
  <!-- RSYNC BACKUP -->
  <div class="form-group backup-target-rsync">
    <div class="col-sm-10 col-sm-offset-2">

      <p>Backups synced to a remote machine using rsync over SSH, with local
      copies in <tt class="backup-location"></tt>. These files are encrypted, so
      they are safe to store anywhere.</p> <p>Separately copy the encryption
      password from <tt class="backup-encpassword-file"></tt> to a safe and
      secure location. You will need this file to decrypt backup files.</p>

    </div>
  </div>
  <div class="form-group backup-target-rsync">
    <label for="backup-target-rsync-host" class="col-sm-2 control-label">Hostname</label>
    <div class="col-sm-8">
      <input type="text" placeholder="hostname.local" class="form-control" rows="1" id="backup-target-rsync-host">
      <div class="small" style="margin-top: 2px">
	The hostname at your rsync provider, e.g. <tt>da2327.rsync.net</tt>.  Optionally includes a colon
	and the provider's non-standard ssh port number, e.g. <tt>u215843.your-storagebox.de:23</tt>. 
      </div>
    </div>
  </div>
  <div class="form-group backup-target-rsync">
    <label for="backup-target-rsync-path" class="col-sm-2 control-label">Path</label>
    <div class="col-sm-8">
        <input type="text" placeholder="/backups/{{hostname}}" class="form-control" rows="1" id="backup-target-rsync-path">
    </div>
  </div>
  <div class="form-group backup-target-rsync">
    <label for="backup-target-rsync-user" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" rows="1" id="backup-target-rsync-user">
    </div>
  </div>
  <div class="form-group backup-target-rsync">
    <label for="ssh-pub-key" class="col-sm-2 control-label">Public SSH Key</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" rows="1" id="ssh-pub-key" readonly>
      <div class="small" style="margin-top: 2px">
        Copy the Public SSH Key above, and paste it within the <tt>~/.ssh/authorized_keys</tt>
        of target user on the backup server specified above. That way you'll enable secure and
        passwordless authentication from your S5 Mail server and your backup server.
      </div>
    </div>
    <div id="copy_pub_key_div" class="col-sm">
      <button type="button" class="btn btn-small" data-backup-action="copy">Copy</button>
    </div> 
  </div>
  <!-- S3 BACKUP -->
  <div class="form-group backup-target-s3">
    <div class="col-sm-10 col-sm-offset-2">
      <p>Backups are stored in an S3-compatible bucket. You must have an AWS or other S3 service account already.</p>
      <p>You MUST manually copy the encryption password from <tt class="backup-encpassword-file"></tt> to a safe and secure location. You will need this file to decrypt backup files. It is <b>NOT</b> stored in your S3 bucket.</p>
    </div>
  </div>
  <div class="form-group backup-target-s3">
    <label for="backup-target-s3-host-select" class="col-sm-2 control-label">S3 Region</label>
    <div class="col-sm-8">
      <select class="form-control" rows="1" id="backup-target-s3-host-select">
        {% for name, host in backup_s3_hosts %}
          <option value="{{host}}">{{name}}</option>
        {% endfor %}
        <option value="other">Other (non AWS)</option>
      </select>
    </div>
  </div>
  <div class="form-group backup-target-s3">
    <label for="backup-target-s3-host" class="col-sm-2 control-label">S3 Host / Endpoint</label>
    <div class="col-sm-8">
      <input type="text" placeholder="https://s3.backuphost.com" class="form-control" rows="1" id="backup-target-s3-host">
    </div>
  </div>
  <div class="form-group backup-target-s3">
    <label for="backup-target-s3-region-name" class="col-sm-2 control-label">S3 Region Name <span style="font-weight: normal">(if required)</span></label>
    <div class="col-sm-8">
      <input type="text" placeholder="region.name" class="form-control" rows="1" id="backup-target-s3-region-name">
    </div>
  </div>
  <div class="form-group backup-target-s3">
    <label for="backup-target-s3-path" class="col-sm-2 control-label">S3 Bucket &amp; Path</label>
    <div class="col-sm-8">
      <input type="text" placeholder="bucket-name/backup-directory" class="form-control" rows="1" id="backup-target-s3-path">
    </div>
  </div>
  <div class="form-group backup-target-s3">
    <label for="backup-target-user" class="col-sm-2 control-label">S3 Access Key</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" rows="1" id="backup-target-user">
    </div>
  </div>
  <div class="form-group backup-target-s3">
    <label for="backup-target-pass" class="col-sm-2 control-label">S3 Secret Access Key</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" rows="1" id="backup-target-pass">
    </div>
  </div>
  <!-- Backblaze -->
  <div class="form-group backup-target-b2">
      <div class="col-sm-10 col-sm-offset-2">
        <p>Backups are stored in a <a href="https://www.backblaze.com/" target="_blank" rel="noreferrer">Backblaze</a> B2 bucket. You must have a Backblaze account already.</p>
        <p>You MUST manually copy the encryption password from <tt class="backup-encpassword-file"></tt> to a safe and secure location. You will need this file to decrypt backup files. It is NOT stored in your Backblaze B2 bucket.</p>
      </div>
  </div>
  <div class="form-group backup-target-b2">
      <label for="backup-target-b2-user" class="col-sm-2 control-label">B2 Application KeyID</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" rows="1" id="backup-target-b2-user">
      </div>
  </div>
  <div class="form-group backup-target-b2">
      <label for="backup-target-b2-pass" class="col-sm-2 control-label">B2 Application Key</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" rows="1" id="backup-target-b2-pass">
      </div>
  </div>
  <div class="form-group backup-target-b2">
      <label for="backup-target-b2-bucket" class="col-sm-2 control-label">B2 Bucket</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" rows="1" id="backup-target-b2-bucket">
      </div>
  </div>
  <!-- Common -->
  <div class="form-group backup-target-local backup-target-rsync backup-target-s3 backup-target-b2">
    <label for="min-age" class="col-sm-2 control-label">Retention Days:</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" rows="1" id="min-age">
      <div class="small" style="margin-top: 2px">This is the minimum time backup data is kept for. The box makes an incremental backup most nights, which requires that previous backups back to the most recent full backup be preserved, so backup data is often kept much longer than this setting. Full backups are made periodically when the incremental backup data size exceeds a limit.</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="set-s3-backup-button" type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<h3>Available backups</h3>

<p>The backup location currently contains the backups listed below. The total size of the backups is currently <span id="backup-total-size"></span>.</p>

<table id="backup-status" class="table" style="width: auto">
  <thead>
    <th scope="col" colspan="2">When</th>
    <th scope="col">Type</th>
    <th scope="col">Size</th>
    <th scope="col">Deleted in...</th>
  </thead>
  <tbody>
  </tbody>
</table>
