<h2>Users</h2>

<style>
#user_table tr.account_inactive td.address { color: #888; text-decoration: line-through; }
#user_table .actions { margin-top: .33em; font-size: 95%; }
#user_table .account_inactive .if_active { display: none; }
#user_table .account_active .if_inactive { display: none; }
#user_table .account_active.if_inactive { display: none; }
.row-center { text-align: center; }
</style>

<h3>Add a mail user</h3>

<p>Add an email address to this system. This will create a new login username/password.</p>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="adduserEmail">Email address</label>
    <input type="email" class="form-control" id="adduserEmail" placeholder="Email Address">
  </div>
  <div class="form-group">
    <label class="sr-only" for="adduserPassword">Password</label>
    <input type="password" class="form-control" id="adduserPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <select class="form-control" id="adduserPrivs">
      <option value="">Normal User</option>
      <option value="admin">Administrator</option>
    </select>
  </div>
  <div class="form-group">
      <label class="sr-only" for="adduserQuota">Quota</label>
      <input type="text" class="form-control" id="adduserQuota" placeholder="Quota" style="width:5em;" value="0">
  </div>
  <button type="submit" class="btn btn-primary">Add User</button>
</form>
<ul style="margin-top: 1em; padding-left: 1.5em; font-size: 90%;">
  <li>Passwords must be at least eight characters consisting of English letters and numbers only. For best results, <a href="#" data-user-action="random-password">generate a random password</a>.</li>
  <li>Use <a href="#aliases">aliases</a> to create email addresses that forward to existing accounts.</li>
  <li>Administrators get access to this control panel.</li>
  <li>User accounts cannot contain any international (non-ASCII) characters, but <a href="#aliases">aliases</a> can.</li>
  <li>Quotas may not contain any spaces, commas or decimal points. Suffixes of G (gigabytes) and M (megabytes) are allowed.  For unlimited storage enter 0 (zero)</li>
</ul>

<h3>Existing mail users</h3>
<table id="user_table" class="table" style="width: auto">
  <thead>
    <tr>
      <th scope="col" width="35%">Email Address</th>
      <th scope="col" class="row-center">Size</th>
      <th scope="col" class="row-center">Used</th>
      <th scope="col" class="row-center">Quota</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div style="display: none">
  <table>
  <tr id="user-template">
    <td class='address'>
    </td>
    <td class="box-size row-center"></td>
    <td class="percent row-center"></td>
	<td class="quota row-center">
	</td>
    <td class='actions'>
        <span class='privs'>
        </span>

        <span class="if_active">
          <a href="#" class='setquota' title="Set Quota">
              set quota
          </a>
          |
        </span>

        <span class="if_active">
          <a href="#" class='setpw' title="Set Password">
            set password
          </a>
          |
        </span>

        <span class='add-privs'>
        </span>

        <a href="#" class='if_active' title="Archive Account">
          archive account
        </a>
    </td>
  </tr>
  <tr id="user-extra-template" class="if_inactive">
    <td colspan="3" style="border: 0; padding-top: 0">
      <div class='restore_info' style='color: #888; font-size: 90%'>To restore account, create a new account with this email address. Or to permanently delete the mailbox, delete the directory <tt></tt> on the machine.</div>
    </td>
  </tr>
  </table>
</div>

<h3>Mail user API (advanced)</h3>

<p>Use your box&rsquo;s mail user API to add/change/remove users from the command-line or custom services you build.</p>

<p>Usage:</p>

<pre>curl -X <b>VERB</b> [-d "<b>parameters</b>"] --user {email}:{password} https://{{hostname}}/admin/mail/users[<b>action</b>]</pre>

<p>Brackets denote an optional argument. Please note that the POST body <code>parameters</code> must be URL-encoded.</p>

<p>The email and password given to the <code>--user</code> option must be an administrative user on this system.</p>

<h4 style="margin-bottom: 0">Verbs</h4>

<table class="table" style="margin-top: .5em">
<thead><th scope="col"> Verb</th> <th scope="col"> Action</th><th scope="col"> </th></thead>
<tr><td>GET</td><td><i>(none)</i></td> <td>Returns a list of existing mail users. Adding <code>?format=json</code> to the URL will give JSON-encoded results.</td></tr>
<tr>
    <td>POST</td>
    <td>/add</td>
    <td>Adds a new mail user. Required POST-body parameters are <code>email</code> and <code>password</code>. Optional parameters: <code>privilege=admin</code> and <code>quota</code></td>
</tr>
<tr>
    <td>POST</td>
    <td>/remove</td>
    <td>Removes a mail user. Required POST-by parameter is <code>email</code>.</td>
</tr>
<tr><td>POST</td><td>/privileges/add</td> <td>Used to make a mail user an admin. Required POST-body parameters are <code>email</code> and <code>privilege=admin</code>.</td></tr>
<tr><td>POST</td><td>/privileges/remove</td> <td>Used to remove the admin privilege from a mail user. Required POST-body parameter is <code>email</code>.</td></tr>
<tr>
    <td>GET</td>
    <td>/quota</td>
    <td>Get the quota for a mail user. Required POST-body parameters are <code>email</code> and will return JSON result</td>
</tr>
<tr>
    <td>POST</td>
    <td>/quota</td>
    <td>Set the quota for a mail user. Required POST-body parameters are <code>email</code> and <code>quota</code>.</td>
</tr>
</table>

<h4>Examples:</h4>

<p>Try these examples. For simplicity the examples omit the <code>--user me@mydomain.com:yourpassword</code> command line argument which you must fill in with your administrative email address and password.</p>

<pre># Gives a JSON-encoded list of all mail users
curl -X GET https://{{hostname}}/admin/mail/users?format=json

# Adds a new email user
curl -X POST -d "email=new_user@mydomail.com" -d "password=s3curE_pa5Sw0rD" https://{{hostname}}/admin/mail/users/add

# Removes a email user
curl -X POST -d "email=new_user@mydomail.com" https://{{hostname}}/admin/mail/users/remove

# Adds admin privilege to an email user
curl -X POST -d "email=new_user@mydomail.com" -d "privilege=admin" https://{{hostname}}/admin/mail/users/privileges/add

# Removes admin privilege from an email user
curl -X POST -d "email=new_user@mydomail.com" https://{{hostname}}/admin/mail/users/privileges/remove
</pre>
