[Unit]
Description=Munin System Monitoring Startup Script
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/lib/s5mail/munin_start.sh

[Install]
WantedBy=multi-user.target
