[Unit]
Description=S5 Mail System Management Service
After=multi-user.target

[Service]
Type=idle
IgnoreSIGPIPE=False
ExecStart=/usr/local/lib/s5mail/start

[Install]
WantedBy=multi-user.target
